<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home.css" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="container">
      <div class="forum-body">
        <div class="forum-title">
          <h1>Grit:Gossip</h1>
        </div>

        <div class="forum-row">
          <div class="forum-icon">
            <i class="bi bi-chat-square-dots-fill">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chat-square-dots-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
                />
              </svg>
            </i>
          </div>

          <div class="forum-description/overview">
            <h1><a href="">Grit:Description (Title)</a></h1>
            <p>
              Grit:Description:Content: just type anything here to see the
              newest gossip to the most famous project discuusiom
            </p>
          </div>

          <div class="forum-statistics">
            <span> 30 Posts | 15 Topics </span>
          </div>

          <div class="forum-info">
            <b><a href="">Last Post</a></b> by <a href="">Allen</a>
            <br />
            on 2 Jan 2025
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
