* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  background-color: #191414;
  color: #fff;
}

a {
  color: #1db954;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

.container {
  margin: 15px;
  padding: 15px;
}

.forum-body {
  margin-top: 1px;
}

.forum-title {
  background-color: #535353;
  padding: 20px;
  border-radius: 5px;
  margin: 4px;
}

.forum-row {
  display: grid;
  grid-template-columns: 5% 60% 13% 20%;
}

.forum-column {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: #212121;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forum-icon i {
  font-size: 45px;
}
